body {
        background-color: #F9DADB ;
}



.topbar-container { 
        width: 80vw; 
        margin: 0 auto; 
        display: flex; 
        flex-direction: row;
        justify-content: space-between;

}

.logo{ 
       width:15vw
      }



nav > ul > li > a {text-decoration: none; 
                   color: #F9DADB;
                    -webkit-text-stroke: 1.1px  #ED625B}
nav > ul > li {list-style: none ; 
                font-size:  1.2rem; 
                font-family: 'Chonburi&family', 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif; 
                width: 5rem ; 
                text-align: center; 
                
                
              }

nav > ul > li > a:hover {color: #ED625B; 
                         -webkit-text-stroke: 1px  #ED625B
                        }

nav > ul {display: flex; 
        flex-direction: row;
        justify-content: flex-end;
      
        }


#all-content-wrapper{
        
        display: flex ; 
        flex-direction: column;
        align-items: center;
        
}
        

#hero {margin: 0 auto; 
        text-align: center;
        width: 400px ; 
         
         padding-top:4rem; }

h1 {color:#ED625B; 
       font-family: Asset; 
       font-size: 3rem;
       
        }

#about-me, 
#why-software {
    width: 80%;
  
    margin: 0 0 30px 0 ; 
    border: 1px dashed #ED625B; 
    padding: 1rem
    

}

#about-me, #why-software{
     
       margin-bottom: 2rem; 
       overflow-wrap: break-word; 

}


.paragraph-title{color:#ED625B; float: right}
.paragraph-content {color:#ED625B; font-size: 12px  }
.red-background-section{
        width: 100vw; 
        display: flex; 
        flex-direction: column ;
        align-content: center;
        justify-content: center;
        background-color: #ED625B;
}

#myproject{
         padding: 0.8rem }


.my-projects-title {
    
        color:#ED625B ; 
        -webkit-text-stroke: 0.5px  #F9DADB;
        text-align: center;
        
  }