*{
        box-sizing: border-box;
        margin: 0; 
        padding: 0; 
        scroll-behavior: smooth;
       
}

body {
        background-color: #F9DADB ;
}

.navbar {
        background:#F9DADB;
        height: 80px; 
        display: flex; 
        justify-content: center;
        font-size: 1.2rem; 
        position: sticky; 
        top: 0; 
        z-index: 999; 
}


.navbar-container { 
        display: flex; 
        justify-content: space-between;
        height: 80px; 
        z-index: 1; 
        width: 100%; 
        max-width: 1300px;    
        margin: 0 auto; 
        padding: 0 50px; 
        
}

#navbar-logo {
        display: flex; 
        height: 100%; 
        align-items: center; 
        cursor: pointer; 
        text-decoration: none; 
}

.logo { height: 100%; }






.navbar-links {text-decoration: none; 
                   color: #ED625B;
                   display: flex; 
                   justify-content: center; 
                   align-items: center;
                   text-align: center; 

                   width: 125px; 
                   text-decoration: none; 
                   height: 100%; 
                   transition: all 0.3s ease; 

                   }

@media screen and (max-width: 960px) {
        .navbar-container {
                display: flex; 
                justify-content: space-between; 
                height: 80px; 
                z-index: 1; 
                width: 100%; 
                max-width: 1300px; 
                padding: 0; 
        }

        .navbar-menu {
             
                display: flex; 
                flex-direction: column; 
                
                margin:0; 
                width: 100%; 
                position: absolute; 
                top: -1000px; 
                opacity: 1; 
                transition: all 0.5s ease; 
                z-index: -1; 
                
        }

        .navbar-menu.active {
                background: #F9DADB; 
                top: 100%; 
                opacity: 1; 
                transition: all 0.5s ease; 
                z-index: 99;
                height: 60vh; 
                font-size: 1.6rem;   

        }

        #navbar-logo {
                padding-left: 25px; 
        }

        .navbar-toggle .bar{
                width: 25px; 
                height: 3px; 
                margin: 5px auto; 
                transition: all 0.3s ease-in-out; 
                background: #ED625B; 
        }


        .navbar-item {
                width: 100%
        }

        .navbar-links {
                text-align: center; 
                padding: 2rem; 
                width: 100%; 
                display: table; 
        }

        #mobile-menu {
                position: absolute; 
                top: 20%; 
                right: 5%; 
                transform: translate(5%, 20%); 
        }

        .navbar-toggle .bar {
                display: block; 
                cursor: pointer; 
        }

        #mobile-menu.is-active .bar:nth-child(2) {
                opacity: 0; 
        }
        #mobile-menu.is-active .bar:nth-child(1) {
                transform: translateY(8px) rotate(45deg)
        }  
        
        #mobile-menu.is-active .bar:nth-child(3) {
                transform: translateY(-8px) rotate(-45deg)
        }  

        }




.navbar-item {
               height: 80px; 
                font-family: 'Chonburi&family', 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif;   
                               
              }

.navbar-menu{
        display: flex; 
        align-items: center; 
        list-style: none; 

}


.navbar-links:hover {text-decoration: none; 
                color:  #F9DADB;
                background-color: #ED625B; 
                transition: all 0.3s ease; 
                
             
                }







        
/* hero  */
.hero {
      padding: 100px 0 
       }
.hero-container{
        display: flex; 
        flex-direction: column; 
        justify-content: center;
        align-items: center; 
        max-width: 551px; 
        margin: 0 auto; 
        height: 90%; 
        text-align: center; 
        padding: 30px; 
}

#hero-text {color:#ED625B; 
       font-family: Asset; 
       font-size: 3rem;
       
        }
.hovered {
        color:#F9DADB;
        -webkit-text-stroke: 0.5px  #ED625B ; 
              }

/* About me and why software section  */

.about-me-and-why-container {
        display: flex; 
        flex-direction: column;
        justify-content: center;
}

#about-me, 
#why-software {
margin: 2rem; 
border: 1px dashed #ED625B; 
padding: 1rem; 
max-width: 1250px;
}


#about-me-title-div, #why-title-div { 
        width: 100%; 
        height: 20%; 
        display: flex; 
        justify-content: right;
        padding: 1rem 
        
}

.paragraph-title{
        color:#ED625B; 
        font-family: Asset; 
        font-size: 1.2rem 
       

}
.paragraph-content {
        color:#ED625B; 
        font-size: 13px; 
        font-family: 'Exo 2', sans-serif;
        font-weight:200; 
        line-height:25px; }

.headshot {
        float: right; 
        shape-outside: circle(50%); 
        margin: 2rem; 
        height: 120px 
        }

.typewriter {
        float: left; 
        shape-outside: circle(50%); 
        margin: 2rem; 
        height: 120px; 
                }


/* project section  */



.red-background-section{
        width: 100vw; 
        display: flex; 
        flex-direction: column ;
        align-content: center;
        justify-content: center;
        background-color: #ED625B;
}

.projects-header{
        padding: 0.8rem 0.8rem 
        2rem 2rem }


.projects-section-title {
    
        color:#ED625B ; 
        -webkit-text-stroke: 0.5px  #F9DADB;
        text-align: center;
        padding-bottom: 1.7rem; 
        font-family: Asset; 
        font-size: 3rem;
  }

  .project-cards{
        
        width: 35%; 
        background-color: #171616; 
        display: flex; 
        flex-direction: column; 
        
        
        border: 0.3rem  solid #F9DADB; 

        padding: 0.23rem ; 
        min-width: 333px;  
       
        }
.project-cards:hover {
        background-color:#ED625B;  }

.proejct-image-container{
       width: 100%; 
       height: 100%;  
       overflow: hidden;
       
       
      
       
       
}

.card-images{
        max-width:100%;
        object-fit: contain; 


}

.proejct-card-tag{
      
       font-family: 'Exo 2', sans-serif; 
       font-weight: 100; 
       border: 2px solid #F9DADB; 
       padding: 4px; 
       border-radius:0.5rem; 
       color: #F9DADB; 
       text-align: left;
      margin: 2px; 
      font-size: 0.8rem 
}

.project-card-title {
        font-family: 'Chonburi&family', 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif; 
        font-size:1.8rem; 
        color: #F9DADB; 
        line-height: 0;
        
}

.card-description-text {
     
        font-family: 'Exo 2', sans-serif; 
        font-size: 12px; 
        text-align: left; 
        color: #F9DADB; 
}

.text-in-card {
      height: 30%; 
        padding: 0; 
        display: inline-flex;
        flex-direction: column; 
        font-family: 'Exo 2', sans-serif; 
        padding: 1rem ; 
        padding-top: 1.2rem; 
        flex-wrap: wrap; 
      
}

.tag-container{
        display: flex; 
        flex-direction: row; 
        justify-content: center;
}
.project-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;

}


@media screen and (max-width: 500px) { 
        .projects-section-title {
                font-size: 2rem;
          }
        .paragraph-title{
             
                font-size: 1rem; 
        }

.seperate-line {        
        height: 100px; 
        width:100%; 
        background-color: #F9DADB; }

.footer-frame {
        border:  1px dashed #ED625B; 
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr ;
        color:#ED625B; 
        font-size: 12px; 
        font-family: 'Exo 2', sans-serif;
        font-weight:200; 
        line-height:25px; 
       
}

a {text-decoration: none;}

a:link {
        color: #ED625B;
  
      
      }
a:visited {
        color: #ED625B;
      
       
      }


