body {
        background-color: #F9DADB ;
}



.topbar-container { 
        width: 80vw; 
        margin: 0 auto; 
        display: flex; 
        flex-direction: row;
        justify-content: space-between;

}

.logo{ 
       width:15vw

      }

.headshot {
        float: left; 
       shape-outside: circle(50%); 
       margin: 2rem; 
}


nav > ul > li > a {text-decoration: none; 
                   color: #F9DADB;
                    -webkit-text-stroke: 1.1px  #ED625B}
nav > ul > li {list-style: none ; 
                font-size:  1.2rem; 
                font-family: 'Chonburi&family', 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif; 
                width: 5rem ; 
                text-align: center; 
                
                
              }

nav > ul > li > a:hover {color: #ED625B; 
                         -webkit-text-stroke: 1px  #ED625B
                        }

nav > ul {display: flex; 
        flex-direction: row;
        justify-content: flex-end;
      
        }


#all-content-wrapper{
        
        display: flex ; 
        flex-direction: column;
        align-items: center;
        
}
        

#hero {margin: 0 auto; 
        text-align: center;
        width: 400px ; 
         
         padding-top:4rem; }

h1 {color:#ED625B; 
       font-family: Asset; 
       font-size: 3rem;
       
        }

#about-me, 
#why-software {
    width: 80%;

    margin: 0 0 30px 0 ; 
    border: 1px dashed #ED625B; 
    padding: 1rem
    

}

#about-me, #why-software{
     
       margin-bottom: 2rem; 
       overflow-wrap: break-word; 

}

#why-title-div{



}

.paragraph-title{
        color:#ED625B; 
        float: right; 
        font-family: Asset; 
        font-size: 1.2rem 

}
.paragraph-content {
        color:#ED625B; 
        font-size: 12px; 
        font-family: 'Exo 2', sans-serif;
        font-weight:200; 
        line-height:25px; }

.red-background-section{
        width: 100vw; 
        display: flex; 
        flex-direction: column ;
        align-content: center;
        justify-content: center;
        background-color: #ED625B;
}

.projects-header{
         padding: 0.8rem 0.8rem 
        2rem 2rem }


.projects-section-title {
    
        color:#ED625B ; 
        -webkit-text-stroke: 0.5px  #F9DADB;
        text-align: center;
        padding-bottom: 1.7rem; 

        
  }

  .project-cards{
        
        width: 35%; 
        background-color: #171616; 
        display: flex; 
        flex-direction: column; 
        
        
        border: 0.3rem  solid #F9DADB; 

        padding: 0.23rem ; 
        min-width: 333px;  
       
        }
.project-cards:hover {
        background-color:#ED625B;  }

.proejct-image-container{
       width: 100%; 
       height: 100%;  
       overflow: hidden;
       
       
      
       
       
}

.card-images{
        max-width:100%;
        object-fit: contain; 


}

.proejct-card-tag{
      
       font-family: 'Exo 2', sans-serif; 
       font-weight: 100; 
       border: 2px solid #F9DADB; 
       padding: 4px; 
       border-radius:0.5rem; 
       color: #F9DADB; 
       text-align: left;
      margin: 2px; 
      font-size: 0.8rem 
}

.project-card-title {
        font-family: 'Chonburi&family', 'Impact', 'Haettenschweiler', 'Arial Narrow Bold', sans-serif; 
        font-size:2.2rem; 
        color: #F9DADB; 
        line-height: 0;
        
}

.card-description-text {
     
        font-family: 'Exo 2', sans-serif; 
        font-size: 12px; 
        text-align: left; 
        color: #F9DADB; 
}

.text-in-card {
      height: 30%; 
        padding: 0; 
        display: inline-flex;
        flex-direction: column; 
        font-family: 'Exo 2', sans-serif; 
        padding: 1rem ; 
        padding-top: 1.2rem; 
        flex-wrap: wrap; 
      
}

.tag-container{
        display: flex; 
        flex-direction: row; 
        justify-content: center;
}
.project-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;

      

}

.seperate-line {        
        height: 100px; 
        width:100%; 
        background-color: #F9DADB; }

.footer-frame {
        border:  1px dashed #ED625B; 
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr ;
        color:#ED625B; 
        font-size: 12px; 
        font-family: 'Exo 2', sans-serif;
        font-weight:200; 
        line-height:25px; 
        gap: 1rem; 
}
